@keyframes blink-warning {
    to {
        background-color: #bf616a;
    }
}

@keyframes blink-critical {
    to {
        color: #2e3440;
        background-color: #bf616a;
    }
}

/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
    border: none;
    border-radius: 0;
    font-family: "FantasqueSansM Nerd Font";
    font-weight: 500;
    font-size: 18px;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: rgba(4, 4, 4, 0.2) ;
    color: @text;
    opacity: 1;
}

#window {
    padding: 0px 5px;
}

#workspaces {
    color: rgb(146, 131, 116);
}

#workspaces button {
    color: @subtext0;
    padding: 6px;
    margin: 2px;
}

#workspaces button.focused {
    font-weight: 900;
}

#workspaces button.focused:hover {
    font-weight: 900;
}

#mode {
    padding: 0px 9px;
    background-color: #a3be8c;
    font-size: 14px;
}

#clock,
#language,
#pulseaudio,
#tray,
#memory,
#cpu,
#battery,
#backlight {
    padding: 0px 10px;
}

#clock {
  font-size: 16px;
}

#cpu.warning {
    color: #ebcb8b;
}

#cpu.critical {
    color: #d08770;
}

#memory.warning {
    color: #ebcb8b;
}

#memory.critical {
    color: #d08770;
}

#battery {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: #11cc11;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

