@keyframes blink-warning {
    to {
        background-color: #bf616a;
    }
}

@keyframes blink-critical {
    to {
        color: #2e3440;
        background-color: #bf616a;
    }
}

* {
    border: none;
    border-radius: 0;
    font-family: Latin Modern Mono Prop, monospace;
    font-size: 15px;
    min-height: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
    opacity: 0.6;
}

#window {
    font-family: Noto Sans, sans-serif;
    font-weight: bold;
    padding: 0px 9px;
}

#workspaces {
    background-color: #222222;
}

#workspaces button {
    padding: 3px 9px 3px 9px;
    background: transparent;
    color: #cccccc;
    border-bottom: 5px solid transparent;
    font-weight: 900;
}

#workspaces button.focused {
    background-color: #444444;
    border-bottom: 5px solid #cccccc;
}

#workspaces button:hover {
    color: #000000;
    background-color: #ffffff;
}

#workspaces button.focused:hover {
    border-color: #555555;
}

#mode {
    padding: 0px 9px;
    background-color: #a3be8c;
    color: #3b4252;
    font-family: Noto Sans, sans-serif;
    font-weight: bold;
}

#clock, #language, #pulseaudio, #tray, #memory, #cpu, #battery, #backlight {
    padding: 0px 15px;
    color: #eeeeee;
    font-weight: 900;
}

#clock {
    background-color: #4c566a;
}

#pulseaudio.source {
}

/*
#pulseaudio.muted {
    color: #d08770;
}
*/

#tray {
  background-color: #ffffff;
}

#cpu.warning {
    color: #ebcb8b;
}

#cpu.critical {
    color: #d08770;
}

#memory {
    font-size: 14px;
}

#memory.warning {
    color: #ebcb8b;
}

#memory.critical {
    color: #d08770;
}

#battery {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: #11cc11;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

